@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Zen Maru Gothic', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1700px;
  background-image: url('media/images/IMG_6944.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-font

*{
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*top socials and button transition*/
button.icon-transition,
span.icon-transition {
  transition: transform 0.3s;
}

button.icon-transition:hover,
span.icon-transition:hover {
  transform: scale(1.1);
}

/*rainbow bg*/
.rainbow-bg {
  background: rgb(255,110,110);
background: -moz-linear-gradient(48deg, rgba(255,110,110,1) 0%, rgba(114,191,250,1) 43%, rgba(214,255,93,1) 88%);
background: -webkit-linear-gradient(48deg, rgba(255,110,110,1) 0%, rgba(114,191,250,1) 43%, rgba(214,255,93,1) 88%);
background: linear-gradient(48deg, rgba(255,110,110,1) 0%, rgba(114,191,250,1) 43%, rgba(214,255,93,1) 88%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6e6e",endColorstr="#d6ff5d",GradientType=1);
}

/*Hamburger Menu*/
.hamburger{
  cursor: pointer;
  width: 30px;
  height: 28px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 4px;
  transform: rotate(0deg);
  transition: 0.5s;
}

.hamburger-middle{
  transform: translateY(12px);
}

.hamburger-bottom{
  transform: translateY(24px);
}

.hamburger-top.open {
  transform: translate(0px, 12px) rotate(45deg);
}

.hamburger-middle.open {
  transform: translate(0px, 12px) rotate(-45deg);
}

.hamburger-bottom.open {
  transform: translate(0px, 12px) rotate(45deg);
}

/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.one {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
  }
  
  .two {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s;
  }
  
  .three {
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
  animation-delay: .8s;
  }
  
  .four {
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  animation-delay: 1.1s;
  }

  /* .scale-up {
    transition: transform .3s ease-in-out;
  }

  .scale-up:hover {
    transform: scale(1.5);
  } */

/*MENU LI*/

.menu-list > li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .menu-list > li {
    width: auto;
    height: auto;
  }
}

.hover-underline-animation {
  display: flex;
  position: relative;
  width: fit-content;
}

.hover-underline-animation::after,
.selected::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after,
.selected::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

/*end animation on hover*/

.menu {
  width: 100vw;
  position: absolute;
  top: -1050px;
  z-index: -10;
  transition: top .3s ease-in-out;
}

.menu.show{
  top: 0;
}

/*nav-width large screens*/
@media screen and (min-width: 1700px) {
  .fixed-width-xlg-screens,
  .menu {
    max-width: 1700px;
  }
}


/*Fade up into view intersection observer*/

.animated-component {
  opacity: 0;
  transition: opacity .75s ease-in-out;
}

.animated-component.is-visible {
  opacity: 1;
}

/*top animated text*/
.top-animated {
  color: white;
  font-size: 1.9rem;
  padding: .4rem;
  font-weight: 600;
  writing-mode: vertical-lr;
  background-color: black;
}

.about p {
  line-height: 2.7rem;
}

/*materials textbook animation*/

.scrollUpAndDown {
  transition: top .3s ease-in-out;
}

/*Textbook animation*/
.textbook-container {
  position: relative;
  display: flex;
  align-items: center;
}

.textbook-container:hover h3 {
  display: block;
  border: .03rem solid black;
  border-radius: .5rem;
}

/*CHikara list li*/

.chikara-list li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media screen and (min-width: 1024px) {
  .chikara-list li {
    flex: 1 1 0px;
  }
}

.chikara-list li h4 {
  font-size: 1.5rem;
}

.chikara-list li p {
  font-size: 1.5rem;
}

.chikara-list-div {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

/*contact form inputs*/
.contact-form > * {
  outline: 1px solid black;
}

.contact-form > input,
.contact-form > textarea,
.contact-form > select {
  padding: 1rem;
  width: 100%;
}

/*Footer list li*/

.footer-list li {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 1rem;
}

/*Media Cards Border on Hover*/ 

.media-box-shadow {
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

/*ABOUT SECTION IMG BOX SHADOW*/

.img-shadow{
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
-moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
}

