@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Zen Maru Gothic', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.show-background{
  max-width: 1700px;
  background-image: url('media/images/IMG_6944.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-font {
  font-family: 'Kiwi Maru', serif;;
}

*{
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*top socials and button transition*/
button.icon-transition,
span.icon-transition {
  transition: transform 0.3s;
}

button.icon-transition:hover,
span.icon-transition:hover {
  transform: scale(1.1);
}

/*rainbow bg*/
.rainbow-bg {
  background: rgb(255,110,110);
background: -moz-linear-gradient(48deg, rgba(255,110,110,1) 0%, rgba(114,191,250,1) 43%, rgba(214,255,93,1) 88%);
background: -webkit-linear-gradient(48deg, rgba(255,110,110,1) 0%, rgba(114,191,250,1) 43%, rgba(214,255,93,1) 88%);
background: linear-gradient(48deg, rgba(255,110,110,1) 0%, rgba(114,191,250,1) 43%, rgba(214,255,93,1) 88%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6e6e",endColorstr="#d6ff5d",GradientType=1);
}

/*Hamburger Menu*/
.hamburger{
  cursor: pointer;
  width: 30px;
  height: 28px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 4px;
  transform: rotate(0deg);
  transition: 0.5s;
}

.hamburger-middle{
  transform: translateY(12px);
}

.hamburger-bottom{
  transform: translateY(24px);
}

.hamburger-top.open {
  transform: translate(0px, 12px) rotate(45deg);
}

.hamburger-middle.open {
  transform: translate(0px, 12px) rotate(-45deg);
}

.hamburger-bottom.open {
  transform: translate(0px, 12px) rotate(45deg);
}

/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.one {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
  }
  
  .two {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s;
  }
  
  .three {
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
  animation-delay: .8s;
  }
  
  .four {
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  animation-delay: 1.1s;
  }

/*MENU LI*/

.menu-list > li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .menu-list > li {
    width: auto;
    height: auto;
  }
}

.hover-underline-animation {
  display: flex;
  position: relative;
  width: fit-content;
}

.hover-underline-animation::after,
.selected::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after,
.selected::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

/*end animation on hover*/

.menu {
  width: 100vw;
  position: absolute;
  top: -1050px;
  transition: top .3s ease-in-out;
  z-index: 20;
}

.menu.show{
  top: 0;
}

/*nav-width large screens*/
@media screen and (min-width: 1700px) {
  .fixed-width-xlg-screens,
  .menu {
    max-width: 1700px;
  }
}


/*Fade up into view intersection observer*/

.animated-component {
  opacity: 0;
  transition: opacity .75s ease-in-out;
}

.animated-component.is-visible {
  opacity: 1;
}

/*top animated text*/
.top-animated {
  color: white;
  font-size: 1.9rem;
  padding: .4rem;
  font-weight: 600;
  writing-mode: vertical-lr;
  background-color: black;
}

.about p {
  line-height: 2.7rem;
}

/*materials textbook animation*/

.scrollUpAndDown {
  transition: top .3s ease-in-out;
}

/*Textbook animation*/
.textbook-container {
  position: relative;
  display: flex;
  align-items: center;
}

.textbook-container:hover h3 {
  display: block;
  border: .03rem solid black;
  border-radius: .5rem;
}

/*CHikara list li*/

.chikara-list li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media screen and (min-width: 1024px) {
  .chikara-list li {
    flex: 1 1 0px;
  }
}

.chikara-list li h4 {
  font-size: 1.5rem;
}

.chikara-list li p {
  font-size: 1.5rem;
}

.chikara-list-div {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

/*contact form inputs*/
.contact-form > * {
  outline: 1px solid black;
}

.contact-form > input,
.contact-form > textarea,
.contact-form > select {
  padding: 1rem;
  width: 100%;
}

/*Footer list li*/

.footer-list li {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 1rem;
}


/*So painting containers*/
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(18, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  width: 100%;
  }

  @media screen and (min-width: 768px) {
    .parent {
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }
  }
  
  .div1 { 
    grid-area: 1 / 1 / 3 / 2; 
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908443/1_qk2qnz.webp");
    background-size: 100% 100%;
    height: 250px;
  }

  @media screen and (min-width: 768px) {
    .div1 {
      height: 400px;
    }
  }

  @media screen and (min-width: 1024px) {
    .div1 {
      height: 475px;
    }
  }

  @media screen and (min-width: 1440px) {
    .div1 {
      height: 675px;
    }
  }
  
  .div2 { 
    grid-area: 1 / 2 / 2 / 3; 
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908444/2_v5nbew.webp");
    background-size: 100% 100%;
  }
  
  .div3 { 
    grid-area: 2 / 2 / 3 / 3;
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908443/3_y8bnmw.webp");
    background-size: 100% 100%;
  }
  
  .div4 { 
    grid-area: 3 / 1 / 5 / 2;
  background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908443/4_xnnflf.webp");
    background-size: 100% 100%;
  }
  
  .div5 { grid-area: 3 / 2 / 5 / 3; 
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908444/5_k7vdgg.webp");
    background-size: 100% 100%;
  }
  
  .div6 { 
    grid-area: 5 / 1 / 6 / 2; 
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908444/6_g3g1e9.webp");
    background-size: 100% 100%;
  }
  
  .div7 { 
    grid-area: 5 / 2 / 7 / 3;
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908444/7_z99rdk.webp");
    background-size: 100% 100%;
  }
  
  .div8 { 
    grid-area: 6 / 1 / 8 / 2;
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908445/8_ni92bm.webp");
    background-size: 100% 100%;
  }
  
  .div9 { 
    grid-area: 7 / 2 / 8 / 3;
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908445/9_jmtyag.webp");
    background-size: 100% 100%;
  }
  
  .div10 { 
    grid-area: 8 / 1 / 10 / 2;
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908445/10_zs7n91.webp");
    background-size: 100% 100%;
  }
  
  .div11 { 
    grid-area: 8 / 2 / 10 / 3; 
   background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908445/11_shrqpv.webp");
    background-size: 100% 100%; 
  }
  
  .div12 { 
    grid-area: 10 / 1 / 11 / 2; 
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908445/12_b8x9ot.webp");
    background-size: 100% 100%; 
  }
  
  .div13 { 
    grid-area: 11 / 1 / 12 / 2; 
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908446/13_pamdkp.webp");
    background-size: 100% 100%; 
  }
  
  .div14 { 
    grid-area: 10 / 2 / 12 / 3; 
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908446/14_znfpjg.webp");
    background-size: 100% 100%; 
  }
  
  .div15 { 
    grid-area: 12 / 1 / 14 / 2; 
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908446/15_s5bei2.webp");
    background-size: 100% 100%; 
  }
  
  .div16 { 
    grid-area: 12 / 2 / 13 / 3; 
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908443/16_aww0ut.webp");
    background-size: 100% 100%; 
  }
  
  .div17 { 
    grid-area: 13 / 2 / 15 / 3; 
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908443/17_tjxmu1.webp");
    background-size: 100% 100%; 
  }
  
  .div18 { 
    grid-area: 14 / 1 / 15 / 2; 
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908443/18_eipvk4.webp");
    background-size: 100% 100%; 
  }
  
  .div19 { 
    grid-area: 15 / 1 / 16 / 2;
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908444/19_wogodl.webp");
    background-size: 100% 100%; 
  }
  
  .div20 { 
    grid-area: 15 / 2 / 16 / 3;
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908444/20_sdtmfq.webp");
    background-size: 100% 100%; 
  }
  
  .div21 { 
    grid-area: 16 / 1 / 18 / 2; 
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908445/21_pkssgr.webp");
    background-size: 100% 100%; 
  }
  
  .div22 { 
    grid-area: 16 / 2 / 17 / 3; 
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908447/22_uxl5ja.webp");
    background-size: 100% 100%; 
  }
  
  .div23 { 
    grid-area: 17 / 2 / 18 / 3; 
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688908447/23_xhrzf8.webp");
    background-size: 100% 100%; 
  }

  .div24 { 
    grid-area: 18 / 2 / 19 / 3; 
    background-image: url("https://res.cloudinary.com/dc1aiqs4p/image/upload/v1688925009/24_gpt34g.webp");
    background-size: 100% 100%; 
  }


/*strategy section 4 grid*/
  .grid-parent-strategy {
    grid-template-areas:
      "one one two two"
      "three three two two"
      "four four four five";
      gap: 10px;
  }

  #strategy_one{
    grid-area: one;
  }

  #strategy_two{
    grid-area: two;
    width:fit-content;
  }

  #strategy_three{
    grid-area: three;
  }

  #strategy_four{
    grid-area: four;
  }

  #strategy_five{
    grid-area: five;
    width: 300px;
  }